# LaTeX auxiliary files
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# PythonTeX auxiliary files
__pycache__/
pythontex-files*/
*.pytxcode

# Images
*.ppm
